<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/incore.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'conference' %}">{% trans 'CONFERENCE' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_incore' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_incore' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_incore' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_incore' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_incore' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
    </ul>
</header>

<h1>International Cooperation in Higher Education on Renewable Energy</h1>
<div class="section">
    <div class="section-header" onclick="toggleSection('incore-overview')">
      What is InCoRE?
      <img src="{% static 'assets/img/award.png' %}" alt="InCoRE Logo" class="logo">
    </div>
    <div id="incore-overview" class="section-content">
        <p>The International Solar Energy Society, ISES, is thrilled to have launched the InCoRE Initiative, a groundbreaking program designed to foster global collaboration in renewable energy education. This initiative aims to strengthen international connections in renewable energy research, facilitate knowledge exchange, and ensure that students worldwide have access to the latest scientific advancements in their respective fields of study.</p>
        <p>With its vast network of global experts and the invaluable scientific insights shared through ISES’s two prestigious academic journals, the Society is perfectly positioned to lead this initiative, driving forward a new era of international cooperation in renewable energy education.</p>
        <p>Please note that the InCoRE Initiative is currently on hold. We will update this page with any new developments as they arise. Stay tuned!</p>
        <h3>What is InCoRE?</h3>
        <p>InCoRE is your gateway to global academic collaboration! This initiative connects students working on their theses or research projects with renowned international advisors from around the world.</p>
        <h4>Why join?</h4>
        <p>Because fresh global perspectives can elevate your research! Whether your thesis involves foreign technology, policy, or economic models, or you’re simply looking for expert insights from another region, InCoRE provides the international support and mentorship you need.</p>
        <p>By participating, you’ll not only gain valuable academic guidance but also contribute to a worldwide exchange of knowledge, helping advisors stay updated on emerging research from different parts of the globe.</p>
        <p>🔗 Expand your research. Connect with global experts. Shape the future!</p>
        <p>Join InCoRE today!</p>
        <div style="display: flex; align-items: center; gap: 20px; margin: 20px 0;">
            <img src="{% static 'assets/img/award.png' %}" alt="InCoRE Banner" style="max-width: 100%;">
            <div>
                <h3>How does it work?</h3>
                <p>InCoRE works by matching up students and advisors from different world regions to support creating international connections for thesis projects. The matching process is done based on information the participants provide in specific student and advisor questionnaires which you can find below. Please note that we only proceed with the matching process if the student’s main supervisor at their home university approves of the student’s participation.</p>
                <p>There are no formal requirements for an InCoRE match — it can be arranged individually according to the students’ needs and the advisors capacities. The global availability of web-conferences offers great opportunities for an InCoRE match, connecting researchers around the world.</p>
                <p>Participation is free of charge, however we do encourage all participants to register as ISES members to make the most out of the experience and fully immerse with our global solar energy society.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-header" onclick="toggleSection('incore-experiences')">
        InCoRE Experiences
    </div>
    <div id="incore-experiences" class="section-content">
        <div class="testimonial">
            <img src="{% static 'assets/img/award.png' %}" alt="Marah Al-Manastreh">
            <div>
                <p><em>"My experience with the InCoRE Project went beyond expectations! Participating in InCoRE proved its effectiveness day by day. I absolutely recommend it to anyone who is looking for professional support and supervision in the renewable energy sector."</em></p>
                <p><strong>Marah Al-Manastreh</strong>, Master’s in Environmental and Renewable Energy Engineering at the School of Natural Resources Engineering and Management at the German Jordanian University (Jordan)</p>
            </div>
        </div>

        <div class="testimonial">
            <img src="{% static 'assets/img/award.png' %}" alt="Prof. Dr.-Ing. Christoph Menke">
            <div>
                <p><em>"I am enthusiastic about InCoRE exchange because I believe it offers a wonderful opportunity to exchange experiences so that professors from one country can share their working experience with students from other countries without having all the traveling nowadays. I hope that this will encourage much more students to look for such kind of additional exchange professors from other countries to widen their perspective and the way they try to solve their problems. I wish my students a lot of success and I hope many will follow."</em></p>
                <p><strong>Prof. Dr.-Ing. Christoph Menke</strong>, University of Applied Sciences Trier (Germany)</p>
            </div>
        </div>
        <div>
            <a class="video-thumb" href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
            <img src="https://img.youtube.com/vi/JlDJVOnEM8o/maxresdefault.jpg" alt="YouTube Video">
            </a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>About</h3>
            <p>ITM smart panel</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/"><i class="fab fa-instagram"></i></a>
                <a href="https://itm.uz/"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>What we do</h3>
            <ul>
                <li><a href="{% url 'award' %}"> Award </a></li>
                <li><a href="{% url 'daniel' %}"> Daniel </a></li>
                <li><a href="{% url 'webinar' %}"> Webinar </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Who we are</h3>
            <ul>
                <li><a href="{% url 'about' %}"> About </a></li>
                <li><a href="{% url 'structure' %}"> Structure </a></li>
                <li><a href="{% url 'board' %}"> Board </a></li>
                <li><a href="{% url 'team' %}"> Team </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>Tashkent city, Almazar district</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>Mon-Sat: 8:30-19:00</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/incore.js' %}"></script>
</body>
</html>