<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'awards' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniels' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'solar' %}">{% trans 'SOLAR' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinars' %}">{% trans 'WEBINARS' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'conference' %}">{% trans 'CONFERENCE' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch' 'uz' %}">UZBEK</a>
                    <a href="{% url 'lan_switch' 'en' %}">ENGLISH</a>
                    <a href="{% url 'lan_switch' 'tr' %}">TURKCHA</a>
                    <a href="{% url 'lan_switch' 'kk' %}">QOZOQCHA</a>
                    <a href="{% url 'lan_switch' 'tg' %}">TOJIKCHA</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
    </ul>
</header>

<div class="header">
    <div class="marquee-container">
        {% for item in banner %}
        <div class="marquee-text">
            {{ item.name }}
        </div>
        {% endfor %}
    </div>
</div>

<div class="hero-section">
    {% for item in home %}
    <div class="hero">
        <img src="{{ item.image.url }}" alt="Solar Panels on Water" id="hero-img"/>
        <div class="hero-content">
            <p id="hero-type"> {{ item.name }} </p>
            <h2 id="hero-title">{{ item.desc }}</h2>
            <a href="{% url 'news' %}" id="hero-link">{{ item.button_name }}</a>
        </div>
    </div>
    <div class="cards" style="margin-top:40px;">
        <div class="card" data-img="{{ item.buttons_image.url }}" data-title="91% of New Renewable Projects Now Cheaper Than Fossil Fuels Alternatives" data-type="PRESS RELEASE" data-link="Read more">
            <h3 style="color:white">{{ item.buttons_name }}</h3>
            <p style="color:white">{{ item.buttons_desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mission-section">
    <div class="background-map collapsed">
        {% for miss in mission %}
        <div class="map-content">
            <div class="mission-header">
                <span class="arrow">▼</span>
                <div class="mission-title">{{ miss.mission_title }}</div>
            </div>

            <div class="mission-content">
                <div class="mission-body">
                    <div class="mission-text">
                        {{ miss.mission_desc }}
                    </div>
                    <a href="{% url 'news' %}" class="read-more" style="margin-top:20px;">{{ miss.mission_button_name }}</a>
                </div>
            </div>

            <div class="members-box" style="margin-top:20px;">
                <div class="members-count">{{ miss.mission_count }}</div>
                <div class="members-label">{{ miss.mission_label }}</div>
                <div class="members-detail">{{ miss.mission_detail }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    {% for new in latest %}
    <header>
        <h1>{{ new.category_name }}</h1>
        <a href="{% url 'news' %}" class="browse-link">{{ new.browse_link_name }}</a>
    </header>

    <section class="news-grid">
        <div class="news-item">
            <img src="{{ new.latest_image.url }}" alt="Energy Transition" />
            <h2>{{ new.latest_title }}</h2>
            <div class="meta">{{ new.latest_date }}</div>
            <p>{{ new.latest_desc }}</p>
        </div>
    </section><br>
    {% endfor %}
</div>

<section class="newsletter-container">
    {% for letter in adver %}
    <div class="newsletter-content">
        <div class="newsletter-left">
            <h2 class="newsletter-title">{{ letter.name }}</h2>
            <p class="newsletter-subtitle">{{ letter.title }}</p>
            <button class="newsletter-button">{{ letter.button_name }}</button>
        </div>

        <div class="newsletter-right">{{ letter.desc }}</div>
    </div>
    {% endfor %}
</section>

<section class="footer-section">
    <div class="footer">
        <div class="essentials">
            <div>
                <ul>
                    <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                    <li><a href="{% url 'eco' %}">{% trans 'Economic' %}</a></li>
                    <li><a href="{% url 'project' %}">{% trans 'Project' %}</a></li>
                    <li><a href="{% url 'event' %}">{% trans 'Event' %}</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'membership' %}">{% trans 'Membership' %}</a></li>
                    <li><a href="{% url 'inno' %}">{% trans 'Innovation' %}</a></li>
                    <li><a href="{% url 'part' %}">{% trans 'Partnerships' %}</a></li>
                    <li><a href="{% url 'outlook' %}">{% trans 'Outlook' %}</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'news' %}">{% trans 'News' %}</a></li>
                    <li><a href="{% url 'event' %}">{% trans 'Technology' %}</a></li>
                    <li><a href="{% url 'data' %}">{% trans 'Data' %}</a></li>
                    <li><a href="{% url 'education' %}">{% trans 'Education' %}</a></li>
                </ul>
            </div>
        </div>  

        <div class="social-links">
            <a href="https://www.itm-llc.uz/uz/home/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google">
            </a>
            <a href="https://www.youtube.com/watch?v=JlDJVOnEM8o" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
            </a>
            <a href="https://t.me/ITMRasmiy" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
            </a>
        </div>

        <div class="copyright">
            <p>2025 ITM MCHJ</p>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>