<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/membership.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo" class="logo-img">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINARS' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'conference' %}">{% trans 'CONFERENCE' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_membership' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_membership' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_membership' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_membership' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_membership' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="container">
    <h1>Join our global solar community!</h1>

    <div class="intro-text">
      The journey towards advancing renewable energy technology, fostering acceptance, and driving education is a shared mission—one that requires passion and dedication. But you don’t have to do it alone. By becoming part of our global community, you’ll connect with a vibrant network of like-minded individuals and organizations, all working together to bring about meaningful change.
      <br><br>
      Here, you'll find endless opportunities for collaboration, idea exchange, and support as we unite to accelerate the transition to a 100% renewable energy future. Whether you’re a researcher, an innovator, or a passionate advocate, you’ll be welcomed with open arms into a community that’s committed to making a lasting impact on our planet.
      <br><br>
      Together, we can make this vision a reality—join us and be part of the solar revolution!
    </div>

    <div class="section">
        <div class="column">
            <h2>Professionals and students</h2>
            <p>Professionals and students can register as ISES Individual Members. Categories include Gold (lifetime), Silver (5 years) and standard professional (1-4 years).</p>
            <a href="#" class="btn">Individual membership</a>
        </div>

        <div class="column">
            <h2>Companies and institutions</h2>
            <p>Companies and institutions can register as ISES Corporate Members. Categories include Company (over 20 staff), Small Company (less than 20 staff) and Institution (Universities, NGO’s). Silver memberships, that are valid for 5 years are also available.</p>
            <a href="#" class="btn">Corporate membership</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-content">
      <p><strong>The International Solar Energy Society (ISES)</strong> is a non-profit, UN-accredited organization founded in 1954, with a proud history of being a trusted global advisor on renewable energy. At the heart of ISES’s mission is a commitment to achieving 100% renewable energy for all, used wisely and efficiently.</p>

      <p>Our community is vast and diverse, with a growing network of members, partners, and collaborators from all corners of the world. One of the most exciting aspects of ITM today is Young ITM, a dynamic network that connects students and young professionals passionate about solar energy. This network is helping to empower the next generation of solar leaders, providing them with valuable opportunities for collaboration and growth.</p>

      <p>We’d love to stay connected with you! Subscribe to the ISES mailing list at the bottom of this page and stay up-to-date with all the latest news, events, and opportunities from ISES. Join us on this exciting journey towards a brighter, sustainable future!</p>
    </div>
</div>

<div class="image-container">
    <div class="image-box">
        <img src="{% static 'assets/img/panels.png' %}" alt="" />
    </div>
    <div class="image-box">
        <img src="{% static 'assets/img/cost.jpg' %}" alt=""/>
    </div>
</div>

<div class="donation-section" style="text-align: center;">
    <h1>Make a donation</h1>
    <p>Join us in shaping a brighter, more sustainable future!</p>
    <p>At the International Solar Energy Society, ISES, we are dedicated to advancing solar energy and creating a world powered by clean, renewable resources. But to continue this vital work, we need your support</p>
    <p>If membership is not for you, we invite you to donate and help us amplify our impact.</p>
    <p>
      Donate today and fund solar energy research (in the form our our academic journals and conferences), education programs (in the form of the organization of our free webinars and project InCORE), and outreach work carried out by ISES headquarters staff and volunteer Board Members.
    </p>
    <a href="#" class="donate-btn">Make a Donation</a>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>About</h3>
            <p>ITM smart panel</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/" target="_blank"><i class="fab fa-instagram"></a></i>
                <a href="https://itm.uz/" target="_blank"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>What we do</h3>
            <ul>
                <li><a href="{% url 'award' %}"> Award </a></li>
                <li><a href="{% url 'daniel' %}"> Daniel </a></li>
                <li><a href="{% url 'webinar' %}"> Webinar </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Who we are</h3>
            <ul>
                <li><a href="{% url 'about' %}"> About </a></li>
                <li><a href="{% url 'structure' %}"> Structure </a></li>
                <li><a href="{% url 'board' %}"> Board </a></li>
                <li><a href="{% url 'team' %}"> Team </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>Tashkent city, Almazar district</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>Mon-Sat: 8:30-19:00</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/membership.js' %}"></script>
</body>
</html>