<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/news.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_news' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_news' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_news' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_news' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_news' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="container">
    <h1 class="section-title">News</h1>
    <div class="news-grid">
        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="CIES 2026" class="news-image">
            <div class="news-content">
                <h3 class="news-title">CIES 2026 - 20th Iberian and 16th Ibero-American Congress on Solar Energy</h3>
                <p class="news-excert">About the Congress The Iberian Congress on Solar Energy (CIES) has a longstanding tradition as one of the most important scientific and professional...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <img src="{% static 'assets/img/out.png' %}" alt="ISES Awards 2025" class="news-image">
            <div class="news-content">
                <h3 class="news-title">ISES Awards 2025 - Winners announced!</h3>
                <p class="news-excert">ISES Awards - Honouring Excellence Since 1976. ISES has been honouring those who have made significant...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <img src="{% static 'assets/img/panels.png' %}" alt="pv magazine" class="news-image">
            <div class="news-content">
                <h3 class="news-title">ISES Column in pv magazine - SWC 2025 in Brazil</h3>
                <p class="news-excert">Immediate Past ISES Board Directors and Leads of the ISES PV Strategy Committee Prof. Andrei Basara (ANU) and Prof. Ricardo Ruther (UFSC) are...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="RTC 2025 Winner" class="news-image">
            <div class="news-content">
                <h3 class="news-title">RTC 2025 Winner is AgriSol from</h3>
                <p class="news-excert">Basler and the International Solar Energy Society (ISES) are pleased to announce the Indonesian project AgriSol as the winners of the 2025 Renewable...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="RTC 2025 Winner" class="news-image">
            <div class="news-content">
                <h3 class="news-title">RTC 2025 Winner is AgriSol from</h3>
                <p class="news-excert">Basler and the International Solar Energy Society (ISES) are pleased to announce the Indonesian project AgriSol as the winners of the 2025 Renewable...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="RTC 2025 Winner" class="news-image">
            <div class="news-content">
                <h3 class="news-title">RTC 2025 Winner is AgriSol from</h3>
                <p class="news-excert">Basler and the International Solar Energy Society (ISES) are pleased to announce the Indonesian project AgriSol as the winners of the 2025 Renewable...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="RTC 2025 Winner" class="news-image">
            <div class="news-content">
                <h3 class="news-title">RTC 2025 Winner is AgriSol from</h3>
                <p class="news-excert">Basler and the International Solar Energy Society (ISES) are pleased to announce the Indonesian project AgriSol as the winners of the 2025 Renewable...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
        <div class="news-card">
            <img src="{% static 'assets/img/cost.jpg' %}" alt="RTC 2025 Winner" class="news-image">
            <div class="news-content">
                <h3 class="news-title">RTC 2025 Winner is AgriSol from</h3>
                <p class="news-excert">Basler and the International Solar Energy Society (ISES) are pleased to announce the Indonesian project AgriSol as the winners of the 2025 Renewable...</p>
                <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
    </div>
    <div class="pagination" id="pagination">
        <a href="#" id="prevBtn" class="arrow">←</a>
        <a href="#" id="prevBtn" class="arrow">Previous</a>
        <a href="#" class="page-link" data-page="1">1</a>
        <a href="#" class="page-link" data-page="2">2</a>
        <a href="#" class="page-link" data-page="3">3</a>
        <a href="#" class="page-link" data-page="4">4</a>
        <a href="#" class="page-link" data-page="3">5</a>
        <a href="#" id="prevBtn" class="arrow">Next</a>
        <a href="#" id="nextBtn" class="arrow">→</a>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>About</h3>
            <p>ITM smart panel</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/"><i class="fab fa-instagram"></i></a>
                <a href="https://itm.uz/"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>What we do</h3>
            <ul>
                <li><a href="{% url 'award' %}"> Award </a></li>
                <li><a href="{% url 'daniel' %}"> Daniel </a></li>
                <li><a href="{% url 'webinar' %}"> Webinar </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Who we are</h3>
            <ul>
                <li><a href="{% url 'about' %}"> About </a></li>
                <li><a href="{% url 'structure' %}"> Structure </a></li>
                <li><a href="{% url 'board' %}"> Board </a></li>
                <li><a href="{% url 'team' %}"> Team </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>Tashkent city, Almazar district</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>Mon-Sat: 8:30-19:00</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/news.js' %}"></script>
</body>
</html>