<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/part.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_part' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_part' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_part' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_part' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_part' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="container">
    <div class="intro-text">
        An important strategic activity of the Society is engaging in strategic partnerships with like minded organisations at all levels. ISES works closely with a number of partner organisations around the world, together with our Members and Sections, these partners form a strong global alliance for advancing renewable energy. ISES is also a member and/or founding member of other international organizations.
    </div>
    <div class="partner-card">
        <img src="{% static 'assets/img/panels.png' %}" alt="American Council on Renewable Energy" class="partner-logo">
        <div class="partner-info">
            <h3 class="partner-title">American Council on Renewable Energy</h3>
            <p class="partner-description">
            Founded in 2001, the American Council on Renewable Energy national nonprofit organization that unites finance, policy and technology to accelerate the transition to a renewable energy economy.
            </p>
            <a href="https://www.acore.org" class="partner-link" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-globe"></i> www.acore.org
            </a>
        </div>
    </div>

    <div class="partner-card">
        <img src="{% static 'assets/img/cost.jpg' %}" alt="Climate Action Network - International" class="partner-logo">
        <div class="partner-info">
            <h3 class="partner-title">Climate Action Network - International</h3>
            <p class="partner-description">
            The Climate Action Network (CAN) is a worldwide network of over 1100 Non-Governmental Organizations (NGOs) in more than 120 countries, working to promote government and individual action to limit human-induced climate change to ecologically sustainable levels. CAN members work to achieve this goal through information exchange and the coordinated development of NGO strategy on international, regional, and national climate issues. CAN has regional network hubs that coordinate these efforts around the world. CAN members place a high priority on both a healthy environment and development that "meets the needs of the present without compromising the ability of future generations to meet their own needs" (Brundtland Commission). CAN's vision is to protect the atmosphere while allowing for sustainable and equitable development worldwide.
            </p>
            <a href="https://www.climatenetwork.org" class="partner-link" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-globe"></i> www.climatenetwork.org
            </a>
        </div>
    </div>
    <div class="partner-card">
        <img src="{% static 'assets/img/cost.jpg' %}" alt="Climate Action Network - International" class="partner-logo">
        <div class="partner-info">
            <h3 class="partner-title">Climate Action Network - International</h3>
            <p class="partner-description">
            The Climate Action Network (CAN) is a worldwide network of over 1100 Non-Governmental Organizations (NGOs) in more than 120 countries, working to promote government and individual action to limit human-induced climate change to ecologically sustainable levels. CAN members work to achieve this goal through information exchange and the coordinated development of NGO strategy on international, regional, and national climate issues. CAN has regional network hubs that coordinate these efforts around the world. CAN members place a high priority on both a healthy environment and development that "meets the needs of the present without compromising the ability of future generations to meet their own needs" (Brundtland Commission). CAN's vision is to protect the atmosphere while allowing for sustainable and equitable development worldwide.
            </p>
            <a href="https://www.climatenetwork.org" class="partner-link" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-globe"></i> www.climatenetwork.org
            </a>
        </div>
    </div>
    <div class="partner-card">
        <img src="{% static 'assets/img/panels.png' %}" alt="Climate Action Network - International" class="partner-logo">
        <div class="partner-info">
            <h3 class="partner-title">Climate Action Network - International</h3>
            <p class="partner-description">
            The Climate Action Network (CAN) is a worldwide network of over 1100 Non-Governmental Organizations (NGOs) in more than 120 countries, working to promote government and individual action to limit human-induced climate change to ecologically sustainable levels. CAN members work to achieve this goal through information exchange and the coordinated development of NGO strategy on international, regional, and national climate issues. CAN has regional network hubs that coordinate these efforts around the world. CAN members place a high priority on both a healthy environment and development that "meets the needs of the present without compromising the ability of future generations to meet their own needs" (Brundtland Commission). CAN's vision is to protect the atmosphere while allowing for sustainable and equitable development worldwide.
            </p>
            <a href="https://www.climatenetwork.org" class="partner-link" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-globe"></i> www.climatenetwork.org
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="section-title">Valued partners additional</h2>
    <p class="intro-text">
        ISES cooperates with a range of organisations at all levels on different activities.
    </p>
    <p class="intro-text">
        Organisations ISES works with include:
    </p>
    <ul class="partners-list">
        <li>Energy Access Practitioner Network</li>
        <li>United Nations and its various sub-organisations such as the UN Environmental Programme (UNEP)</li>
        <li>International Renewable Energy Agency (IRENA)</li>
        <li>International Energy Agency (IEA) - in particular the IEA Solar Heating & Cooling Programme</li>
        <li>European Union</li>
        <li>World Council for Rewable Energy</li>
        <li>Renewable Energy Policy Network for the 21st Century - REN 21</li>
        <li>Universities & Research Institutes</li>
        <li>Non-governmental organisations</li>
        <li>Industry and service organisations</li>
        <li>Governments</li>
    </ul>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>{% trans 'About' %}</h3>
            <p>{% trans 'ITM smart panel' %}</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/" target="_blank"><i class="fab fa-instagram"></a></i>
                <a href="https://itm.uz/" target="_blank"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>{% trans 'What we do' %}</h3>
            <ul>
                <li><a href="{% url 'award' %}"> {% trans 'Award' %} </a></li>
                <li><a href="{% url 'daniel' %}"> {% trans 'Daniel' %} </a></li>
                <li><a href="{% url 'webinar' %}"> {% trans 'Webinar' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Who we are' %}</h3>
            <ul>
                <li><a href="{% url 'about' %}"> {% trans 'About' %} </a></li>
                <li><a href="{% url 'structure' %}"> {% trans 'Structure' %} </a></li>
                <li><a href="{% url 'board' %}"> {% trans 'Board' %} </a></li>
                <li><a href="{% url 'team' %}"> {% trans 'Team' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Contact' %}</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>{% trans 'Tashkent city, Almazar district' %}</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>{% trans 'Mon-Sat: 8:30-19:00' %}</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/part.js' %}"></script>
</body>
</html>