<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/public.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo" class="logo-img">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_public' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_public' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_public' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_public' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_public' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<header>
    {% for n in public %}
    <h1 style="text-align:center;">{{ n.name }}</h1>
    {% endfor %}
</header>

<main>
    {% for ns in public %}
    <section class="intro">
        <p>{{ ns.desc }}</p>
        <ul class="topics">
            <li>{{ ns.topic }}</li>
        </ul> 
        <p style="text-align: center; font-weight: bold; font-size: 1.1em;">
            <a href="{% url 'public' %}">{{ ns.link }}</a>
        </p>
    </section>
    {% endfor %}

    <section id="publications-grid" class="publications-grid">
        {% for bs in pub %}
        <div class="pub-item">
            <img src="{{ bs.image.url }}" alt="ISES Solar Energy Journal">
            <div class="pub-info">
                <h3>{{ bs.name }}</h3>
                <a href="{{ bs.file }}" target="_blank">{{ bs.button }}</a>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>{% trans 'About' %}</h3>
            <p>{% trans 'ITM smart panel' %}</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/" target="_blank"><i class="fab fa-instagram"></a></i>
                <a href="https://itm.uz/" target="_blank"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>{% trans 'What we do' %}</h3>
            <ul>
                <li><a href="{% url 'award' %}"> {% trans 'Award' %} </a></li>
                <li><a href="{% url 'daniel' %}"> {% trans 'Daniel' %} </a></li>
                <li><a href="{% url 'webinar' %}"> {% trans 'Webinar' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Who we are' %}</h3>
            <ul>
                <li><a href="{% url 'about' %}"> {% trans 'About' %} </a></li>
                <li><a href="{% url 'structure' %}"> {% trans 'Structure' %} </a></li>
                <li><a href="{% url 'board' %}"> {% trans 'Board' %} </a></li>
                <li><a href="{% url 'team' %}"> {% trans 'Team' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Contact' %}</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>{% trans 'Tashkent city, Almazar district' %}</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>{% trans 'Mon-Sat: 8:30-19:00' %}</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/public.js' %}"></script>
</body>
</html>