<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/support.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_support' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_support' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_support' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_support' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_support' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<header>
    <h1 style="text-align:center;">Support Solar - Empowering a Sustainable Future!</h1>
</header>

<main>
    <section class="intro">
        <h2>Join Us in Shaping a Brighter, More Sustainable Future!</h2>
        <p>At the International Solar Energy Society, ISES, we are dedicated to advancing solar energy and creating a world powered by clean, renewable resources. But to continue this vital work, we need your support.</p>
        <p>We invite you to donate or become a member today and help us amplify our impact. Whether you contribute financially or lend your voice to our cause, you’ll be joining a community of passionate individuals driving change.</p>
    </section>

    <section class="ways-to-support">
        <div class="support-item">
            <span class="check">✓</span>
            Donate today and fund solar energy research (in the form our our academic journals and conferences), education programs (in the form of the organization of our free webinars and project InCORE), and outreach work carried out by ISES headquarters staff and volunteer Board Members.
        </div>
        <div class="support-item">
            <span class="check">✓</span>
            Spread the word: Every share or recommendation helps us reach more people passionate about making an impact.
        </div>
    </section>

    <section class="mission">
        <h3>Support the International Solar Energy Society, ISES to:</h3>
        <ul class="mission-list">
            <li>Contribute to solar energy publications, projects and research</li>
            <li>Educate and engage communities about the benefits of renewable energy</li>
            <li>Advocate for policy changes that support renewable energy on a global scale</li>
        </ul>
    </section>

    <section class="get-involved">
        <h3>How you can get involved:</h3>
        <div class="involve-item">
            <span class="check">✓</span>
            Donate: Every contribution, big or small, fuels our mission and helps us reach more people.
        </div>
        <div class="involve-item">
            <span class="check">✓</span>
            Become a member: Join the International Solar Energy Society, ISES, as a member and stand behind our efforts to expand solar energy adoption. As a member, you’ll have access to exclusive updates, events, and opportunities to influence the future of solar energy. More information on membership here: <a href="{% url 'board' %}" target="_blank">Board</a>
        </div>
    </section>

    <section class="call-to-action">
        <p>Together, we can create a world that’s more sustainable, more empowered, and more connected.</p>
        <p>We need more voices like yours. Stand with us, donate today, or become a member and make your impact!</p>
        <p>The anonymous donation form is right here!</p>
    </section>
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>{% trans 'About' %}</h3>
            <p>{% trans 'ITM smart panel' %}</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/" target="_blank"><i class="fab fa-instagram"></a></i>
                <a href="https://itm.uz/" target="_blank"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>{% trans 'What we do' %}</h3>
            <ul>
                <li><a href="{% url 'award' %}"> {% trans 'Award' %} </a></li>
                <li><a href="{% url 'daniel' %}"> {% trans 'Daniel' %} </a></li>
                <li><a href="{% url 'webinar' %}"> {% trans 'Webinar' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Who we are' %}</h3>
            <ul>
                <li><a href="{% url 'about' %}"> {% trans 'About' %} </a></li>
                <li><a href="{% url 'structure' %}"> {% trans 'Structure' %} </a></li>
                <li><a href="{% url 'board' %}"> {% trans 'Board' %} </a></li>
                <li><a href="{% url 'team' %}"> {% trans 'Team' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Contact' %}</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>{% trans 'Tashkent city, Almazar district' %}</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>{% trans 'Mon-Sat: 8:30-19:00' %}</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/support.js' %}"></script>
</body>
</html>