<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/webinar.css' %}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-link">
            <h3 class="logo-title">
                <img src="{% static 'assets/img/itm.jpg' %}" alt="ITM Logo">
                <span class="logo-text">ITM</span>
            </h3>
        </a>
    </div>

    <ul>
        <li>
            <a>{% trans 'WHO ARE WE' %}</a>
            <div class="mega-menu1">
                <div class="container">
                    <div class="content1">
                        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
                        <a href="{% url 'jobs' %}">{% trans 'JOBS' %}</a>
                        <a href="{% url 'structure' %}">{% trans 'STRUCTURE' %}</a>
                        <a href="{% url 'board' %}">{% trans 'BOARD' %}</a>
                        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
                        <a href="{% url 'part' %}">{% trans 'PARTNERSHIP' %}</a>
                        <a href="{% url 'history' %}">{% trans 'HISTORY' %}</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a>{% trans 'WHAT WE DO' %}</a>
            <div class="mega-menu3">
                <div class="content3">
                    <a href="{% url 'award' %}">{% trans 'AWARDS' %}</a>
                    <a href="{% url 'daniel' %}">{% trans 'DANIELS' %}</a>
                    <a href="{% url 'achievement' %}">{% trans 'ACHIEVEMENT' %}</a>
                    <a href="{% url 'leader' %}">{% trans 'LEADERSHIP' %}</a>
                    <a href="{% url 'fellow' %}">{% trans 'FELLOWS' %}</a>
                    <a href="{% url 'challenge' %}">{% trans 'CHALLENGE' %}</a>
                    <a href="{% url 'event' %}">{% trans 'EVENTS' %}</a>
                    <a href="{% url 'eurosun' %}">{% trans 'EUROSUN' %}</a>
                    <a href="{% url 'incore' %}">{% trans 'INCORE' %}</a>
                    <a href="{% url 'webinar' %}">{% trans 'WEBINAR' %}</a>
                    <a href="{% url 'museum' %}">{% trans 'MUSEUM' %}</a>
                    <a href="{% url 'young' %}">{% trans 'YOUNG' %}</a>
                    <a href="{% url 'public' %}">{% trans 'PUBLICATION' %}</a>
                    <a href="{% url 'advance' %}">{% trans 'ADVANCE' %}</a>
                    <a href="{% url 'journal' %}">{% trans 'JOURNAL' %}</a>
                    <a href="{% url 'column' %}">{% trans 'COLUMN' %}</a>
                    <a href="{% url 'support' %}">{% trans 'SUPPORT' %}</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'membership' %}">{% trans 'MEMBERSHIP' %}</a></li>
        <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a></li>
        <li>    
            <a>{% trans 'LANGUAGES' %}</a>
            <div class="mega-menu2">
                <div class="content2">
                    <a href="{% url 'lan_switch_webinar' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                    <a href="{% url 'lan_switch_webinar' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
                    <a href="{% url 'lan_switch_webinar' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> TR</a>
                    <a href="{% url 'lan_switch_webinar' 'kk' %}"><img src="{% static 'assets/img/kz.png' %}" width="24" height="16"> KK</a>
                    <a href="{% url 'lan_switch_webinar' 'tg' %}"><img src="{% static 'assets/img/tg.jpg' %}" width="24" height="16"> TG</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="container">
    <h1>ISES Webinars</h1>
    <p style="text-align:center;">
      ISES organizes monthly webinars and invites everybody to join (free-of-charge). Focusing on solar energy related topics of high relevance in science, technology development, market and industrial implementation, social issues, training and education our webinars offer something for everyone.
    </p>

    <div class="section">
        <div class="card">
            <h2>Sponsor an ISES webinar</h2>
            <p>
            The International Solar Energy Society (ISES) invites your organization to be a sponsor of our webinar series. Focusing on solar energy related topics of high relevance in science, technology development, market and industrial implementation, social issues, training and education our webinars offer something for everyone. ISES initiated these online seminars in 2012 and since then, they enjoy a great popularity and increasing number of participants. Please contact <a href="mailto:itm.mchj@itm-llc.uz">itm.mchj@itm-llc.uz</a> for further information.
            </p>
            <p>
            <a href="{% url 'webinar' %}">View our webinar sponsoring flyer here.</a>
            </p>
        </div>

        <div class="card">
            <h2>Become a webinar panelist</h2>
            <p>
            Webinar panelists are distinguished experts from research, academia and industry. Panelists share their knowledge and passion during the webinar on a voluntary basis and answer participants questions during and after the live webinar. We welcome new panelist speakers who are experts in their fields to participate in an ISES webinar. Please contact <a href="mailto:itm.mchj@itm-llc.uz">itm.mchj@itm-llc.uz</a> for further information.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h1>Next Webinars</h1>
    <div class="grid-container">
        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Image" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review (2)</h3>
                <p class="card-desc">Hot water demand for kitchen and sanitary use is continuously growing globally and as countries...</p>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/fullstack.jpg' %}" alt="Speaker" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review (1)</h3>
                <p class="card-desc">Hot water demand for kitchen and sanitary use is continuously growing globally and as countries...</p>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Poster" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review</h3>
                <div class="card-meta">
                    Hosted by: SOLAR ACADEMY & ISES
                </div>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Poster 2" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review</h3>
                <div class="card-meta">
                    Hosted by: SOLAR ACADEMY & ISES
                </div>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="section-title">Recent and Past Events</h2>
    <div class="grid-container">
        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Image" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review (2)</h3>
                <p class="card-desc">Hot water demand for kitchen and sanitary use is continuously growing globally and as countries...</p>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/fullstack.jpg' %}" alt="Speaker" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review (1)</h3>
                <p class="card-desc">Hot water demand for kitchen and sanitary use is continuously growing globally and as countries...</p>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Poster" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review</h3>
                <div class="card-meta">
                    Hosted by: SOLAR ACADEMY & ISES
                </div>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/img/award.png' %}" alt="Webinar Poster 2" class="card-image">
            <div class="card-content">
                <h3 class="card-title">IEA SHC Solar Academy: Solar Hot Water for 2030: An IEA SHC Task in Review</h3>
                <div class="card-meta">
                    Hosted by: SOLAR ACADEMY & ISES
                </div>
                <div class="read-more-container">
                    <a href="{% static 'assets/file/job.pdf' %}" target="_blank" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>{% trans 'About' %}</h3>
            <p>{% trans 'ITM smart panel' %}</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/InnovationTechnologiesCenter" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/ITMRasmiy" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/itm_mchj/" target="_blank"><i class="fab fa-instagram"></a></i>
                <a href="https://itm.uz/" target="_blank"><i class="fab fa-google"></i></a>
                <a href="itm.mchj@itm-llc.uz" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>{% trans 'What we do' %}</h3>
            <ul>
                <li><a href="{% url 'award' %}"> {% trans 'Award' %} </a></li>
                <li><a href="{% url 'daniel' %}"> {% trans 'Daniel' %} </a></li>
                <li><a href="{% url 'webinar' %}"> {% trans 'Webinar' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Who we are' %}</h3>
            <ul>
                <li><a href="{% url 'about' %}"> {% trans 'About' %} </a></li>
                <li><a href="{% url 'structure' %}"> {% trans 'Structure' %} </a></li>
                <li><a href="{% url 'board' %}"> {% trans 'Board' %} </a></li>
                <li><a href="{% url 'team' %}"> {% trans 'Team' %} </a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>{% trans 'Contact' %}</h3>
            <div class="contact-info">
                <div>
                    <i class="fas fa-home"></i>
                    <span>{% trans 'Tashkent city, Almazar district' %}</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>itm.mchj@itm-llc.uz</span>
                </div>
                <div>
                    <i class="fas fa-phone"></i>
                    <span>+998712300402</span>
                </div>
                <div>
                    <i class="fas fa-clock"></i>
                    <span>{% trans 'Mon-Sat: 8:30-19:00' %}</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/js/webinar.js' %}"></script>
</body>
</html>